---
# Allow all traffic in kube-system
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: allow-kube-system
  namespace: kube-system
spec:
  description: "Allow all in kube-system"
  endpointSelector: {}
  ingress:
    - {}
  egress:
    - {}
