---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  chartRef:
    kind: OCIRepository
    name: rook-ceph-cluster
  interval: 1h
  values:
    # ref: https://github.com/rook/rook/blob/master/deploy/charts/rook-ceph-cluster/values.yaml
    dataDirHostPath: /var/lib/rook
    cleanupPolicy:
      confirmation: yes-really-destroy-data
      sanitizeDisks:
        method: quick
        dataSource: zero
        iteration: 1
      allowUninstallWithVolumes: false
    mon:
      count: 3
      allowMultiplePerNode: true
    storage:
      useAllNodes: true
      useAllDevices: true
