---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: democratic-csi

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./nfs/ks.yaml
  - ./iscsi/ks.yaml
