---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./networks.yaml
  - ./default-policies.yaml
  - ./host-firewall.yaml
  # - ./service-mesh-auth.yaml
