---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: truenas-nfs
spec:
  chartRef:
    kind: OCIRepository
    name: democratic-csi
  interval: 1h
  values:
    driver:
      existingConfigSecret: truenas-nfs-secret-config
      config:
        driver: freenas-api-nfs

    csiDriver:
      # should be globally unique for a given cluster
      name: "org.democratic-csi.freenas-nfs"

    storageClasses:
      - name: truenas-nfs
        defaultClass: false
        reclaimPolicy: Delete
        volumeBindingMode: Immediate
        allowVolumeExpansion: true
        parameters:
          fsType: nfs
        mountOptions:
          - noatime
          - nfsvers=4

    volumeSnapshotClasses:
      - name: truenas

    controller:
      driver:
        image:
          tag: next@sha256:34d1b1dac29ec3288f9f8d419bcb16a33b0c0170b52493dcf1aa2fd48c221b10
