---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: truenas-nfs
spec:
  chartRef:
    kind: OCIRepository
    name: truenas-nfs
  interval: 1h
  values:
    # ref: https://github.com/democratic-csi/charts/blob/master/stable/democratic-csi/values.yaml
    fullnameOverride: "truenas-nfs"

    driver:
      existingConfigSecret: truenas-nfs-secret-config
      config:
        driver: freenas-api-nfs

    csiDriver:
      # should be globally unique for a given cluster
      name: "org.democratic-csi.freenas-nfs"

    storageClasses:
      - name: truenas-nfs
        defaultClass: false
        reclaimPolicy: Delete
        volumeBindingMode: Immediate
        allowVolumeExpansion: true
        parameters:
          fsType: nfs
        mountOptions:
          - noatime
          - nfsvers=4

    volumeSnapshotClasses:
      - name: truenas

    controller:
      driver: &driver
        image:
          registry: ghcr.io/democratic-csi/democratic-csi
          tag: next
    node:
      driver: *driver
    csiProxy:
      driver: *driver
