---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml

patches:
  - path: ./secretstruenas.sops.yaml
    target:
      kind: HelmRelease
