---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
spec:
  chartRef:
    kind: OCIRepository
    name: openebs
  interval: 1h
  values:
    # ref: https://github.com/openebs/openebs/blob/develop/charts/values.yaml
    preUpgradeHook:
      enabled: false

    # localpv-provisioner:
    #   analytics:
    #     enabled: false
    #   localpv:
    #     image:
    #       registry: &registry quay.io/
    #     # ref: ../../../../../bootstrap/controller/cluster-patch.yaml
    #     basePath: &hostPath /var/mnt/local-hostpath
    #   hostpathClass:
    #     enabled: true
    #     name: openebs-hostpath
    #     isDefaultClass: false
    #     basePath: *hostPath
    #   helperPod:
    #     image:
    #       registry: *registry
    # zfs-localpv:
    #   enabled: false
    # lvm-localpv:
    #   enabled: false
    # mayastor:
    #   enabled: false
    #
    # engines:
    #   local:
    #     lvm:
    #       enabled: false
    #     zfs:
    #       enabled: false
    #   replicated:
    #     mayastor:
    #       enabled: false

    loki:
      enabled: false
    alloy:
      enabled: false
    minio:
      enabled: false
